.container {
  margin: 0 auto;
  padding: 30px;
  max-width: 500px;

  header {
    padding: 40px 10px;
    text-align: center;
    h2,
    h1 {
      margin-top: 21px;
      margin-bottom: 21px;
      font-size: 24px;
      line-height: 0.9;
    }
    h2 {
      font-weight: 200;
    }
    p {
      font-size: $BodyFont;
    }
  }
}

@include breakpoint-up(medium) {
  .container {
    max-width: 1000px;

    header {
      h2,
      h1 {
        font-size: 30px;
      }
      p {
        width: 460px;
        margin: 0 auto;
      }
    }
  }
}

@include breakpoint-up(xlarge) {
  .container {
    max-width: 1200px;

    header {
      h2,
      h1 {
        font-size: 36px;
      }
      p {
        width: 500px;
        margin: 0 auto;
      }
    }
  }
}
